language: python
python:
  - "3.5"
before_install:
  - mv travis/travis_secrets.yaml secrets.yaml
  - mv travis/travis.fake_ssl_crt travis.fake_ssl_crt
  - mv travis/travis.fake_ssl_key travis.fake_ssl_key
install:
  - pip3 install homeassistant
script:
  - hass -c . --script check_config
