- id: '1500048597882'
  alias: Turn on lights in the morning and at sunset
  trigger:
    - platform: time
      at: "06:30:00"
    - platform: sun
      event: sunset
      offset: '-01:00:00'
  action:
    - service: homeassistant.turn_on
      entity_id: switch.LWRF_Hall_Socket_2 # Twigs
    # - service: homeassistant.turn_on
    #   entity_id: switch.LWRF_Hall_Socket_1 # Outside Xmas Lights
    # - service: homeassistant.turn_on
    #   entity_id: switch.LWRF_Christmas_Tree_Lights # Christmas Tree Lights

- id: a_morning_lights
  alias: Turn off morning lights
  trigger:
    - platform: numeric_state
      entity_id: sun.sun
      value_template: "{{ state.attributes.elevation }}"
      # Can be a positive or negative number
      above: 10.0
  action:
    - service: homeassistant.turn_off
      entity_id: switch.LWRF_Hall_Socket_2 # Twigs
    # - service: homeassistant.turn_off
    #   entity_id: switch.LWRF_Hall_Socket_1 # Outside Xmas Lights
    # - service: homeassistant.turn_off
    #   entity_id: switch.LWRF_Christmas_Tree_Lights # Christmas Tree Lights

- id: '1500048925363'
  alias: SSL Expiry notification
  trigger:
    - platform: numeric_state
      entity_id: sensor.ssl_cert_expiry
      below: 21
  action:
    - service: notify.ios_martins_iphone
      data:
        message: "HA SSL Cert expirying soon"

# Watchdog timer for motion within ironing room. Uses 2 timers to ensure constant state is detected.
# Trigger 1: Goes to idle after 30 mins from start of HA (if not reset)
# Trigger 2: Starts/Resets timer each time aeotec senses motion, state transistion to 8
- id: a_ironing_room_motion_timer
  alias: Ironing room motion detected
  trigger:
    - platform: homeassistant
      event: start
    - platform: state
      entity_id: sensor.aeotec_zw100_multisensor_6_burglar
      to: '8'
  action:
    - service: timer.start
      data_template:
        entity_id: timer.ironing_room_motion_timer
    - service: timer.start
      data_template: 
        entity_id: timer.ironing_room_motion_timer_reset_poll

# Second watchdog, reset_poll timer expires and motion sensor state is still 8, then there has been constant movement and we should reset the timers
- id: a_ironing_room_timer_reset
  alias: Ironing room timer reset
  trigger:
    - platform: event
      event_type: timer.finished
      event_data:
        entity_id: timer.ironing_room_motion_timer_reset_poll
  condition:
    - condition: template
      value_template: "{% if is_state('sensor.aeotec_zw100_multisensor_6_burglar','8') %}true{% endif %}"
  action:
    - service: timer.start
      data_template:
        entity_id: timer.ironing_room_motion_timer
    - service: timer.start
      data_template:
        entity_id: timer.ironing_room_motion_timer_reset_poll

# Trigger: Change in any properties of the smart plug.
# Condition 1: Only trigger if drawing more than 10W AND
# Condition 2: Only triggered if no motion detected for 10 mins, using watchdog timer.
- id: a_IronOn_2
  alias: Ironing Room No Motion Turn off Irons Left
  trigger:
    - platform: state
      entity_id: sensor.tp_hs110_2_power
  condition:
    condition: and
    conditions:
      - condition: numeric_state
        entity_id: sensor.tp_hs110_2_power
        above: 10
      - condition: template
        value_template: "{% if is_state('timer.ironing_room_motion_timer', 'idle') %}true{% endif %}"
      - condition: template
        value_template: "{% if is_state('sensor.aeotec_zw100_multisensor_6_burglar','0') %}true{% endif %}"
  action:
    - service: homeassistant.turn_off
      entity_id: switch.tp_hs110_2
    - service: notify.ios_michelles_iphone
      data:
        title: "Ironing Room Alert!"
        message: "No Motion Detected - Turning off Ironing room Irons (Left)"

- id: a_IronOn_3
  alias: Ironing Room No Motion Turn off Irons Right
  trigger:
    - platform: state
      entity_id: sensor.tp_hs110_3_power
  condition:
    condition: and
    conditions:
      - condition: numeric_state
        entity_id: sensor.tp_hs110_3_power
        above: 10
      - condition: template
        value_template: "{% if is_state('timer.ironing_room_motion_timer', 'idle') %}true{% endif %}"
      - condition: template
        value_template: "{% if is_state('sensor.aeotec_zw100_multisensor_6_burglar','0') %}true{% endif %}"
  action:
    - service: homeassistant.turn_off
      entity_id: switch.tp_hs110_3
    - service: notify.ios_michelles_iphone
      data:
        title: "Ironing Room Alert!"
        message: "No Motion Detected - Turning off Ironing room Irons (Right)"

- id: a_IronOn_4
  alias: Ironing Room No Motion Turn off Ironing Table
  trigger:
    - platform: state
      entity_id: sensor.tp_hs110_4_power
  condition:
    condition: and
    conditions:
      - condition: numeric_state
        entity_id: sensor.tp_hs110_4_power
        above: 10
      - condition: template
        value_template: "{% if is_state('timer.ironing_room_motion_timer', 'idle') %}true{% endif %}"
      - condition: template
        value_template: "{% if is_state('sensor.aeotec_zw100_multisensor_6_burglar','0') %}true{% endif %}"
  action:
    - service: homeassistant.turn_off
      entity_id: switch.tp_hs110_4
    - service: notify.ios_michelles_iphone
      data:
        title: "Ironing Room Alert!"
        message: "No Motion Detected - Turning off Ironing Table"

- id: a_IronOn_5
  alias: Ironing Room No Motion Turn off Magpie Iron
  trigger:
    - platform: numeric_state
      entity_id: sensor.tp_hs110_5_power
      above: 10
  condition:
    condition: and
    conditions:
      - condition: numeric_state
        entity_id: sensor.tp_hs110_5_power
        above: 10
      - condition: template
        value_template: "{% if is_state('timer.ironing_room_motion_timer', 'idle') %}true{% endif %}"
      - condition: template
        value_template: "{% if is_state('sensor.aeotec_zw100_multisensor_6_burglar','0') %}true{% endif %}"
  action:
    - service: homeassistant.turn_off
      entity_id: switch.tp_hs110_5
    - service: notify.ios_michelles_iphone
      data:
        title: "Ironing Room Alert!"
        message: "No Motion Detected - Turning off Magpie Iron"

- id: a_config_update
  alias: Update config HASS if travis build is successfull
  trigger:
    - platform: state
      entity_id: sensor.shortblokehome_assistant_config_last_build_id
  condition:
    - condition: state
      entity_id: sensor.shortblokehome_assistant_config_last_build_state
      state: 'passed'
  action:
    - service: script.get_latest_config

- id: a_Loft_Fan_On
  alias: Loft Fan Turn On When Hot
  trigger:
    - platform: numeric_state
      entity_id: sensor.loft_fan_temperature
      # value_template: '{{ sensor.loft_fan_temperature}}'
      above: 30
  action:
    - service: homeassistant.turn_on
      entity_id: switch.sonoff_loft_fan_power

- id: a_Loft_Fan_Off
  alias: Loft Fan Turn Off When Not Hot
  trigger:
    - platform: numeric_state
      entity_id: sensor.loft_fan_temperature
      # value_template: '{{ sensor.loft_fan_temperature}}'
      below: 30
  action:
    - service: homeassistant.turn_off
      entity_id: switch.sonoff_loft_fan_power

- id: a_hapi_low_disk
  alias: HAPi Low Disk Space Alert
  trigger:
    - platform: numeric_state
      entity_id: sensor.disk_use_percent_
      above: 90
  action:
    - service: notify.ios_martins_iphone
      data: 
        title: "HAPi Low Resource Alert"
        message: "Low Disk Space > 90% Used"

- id: a_hapi_low_mem
  alias: HAPi Low Memory Alert
  trigger:
    - platform: numeric_state
      entity_id: sensor.memory_use_percent
      above: 90
  action:
    - service: notify.ios_martins_iphone
      data: 
        title: "HAPi Low Resource Alert"
        message: "Low Memory > 90% Used"

- id: a_hapi_high_load
  alias: HAPi High Load Alert
  trigger:
    - platform: numeric_state
      entity_id: sensor.load_5m
      above: 2.8 # 4 Cores in RPi3 x 0.7 per core, for relatively high sustained load = 
  action:
    - service: notify.ios_martins_iphone
      data: 
        title: "HAPi Low Resource Alert"
        message: "System Load 5m Load Average > 2.8"

- id: a_miner01_power_watch
  alias: Miner01 Power Watcher
  trigger:
    - platform: numeric_state
      entity_id: sensor.tp_hs110_6_power
      below: 900
      for:
        minutes: 5
    - platform: numeric_state
      entity_id: sensor.tp_hs110_8_power
      below: 750
      for:
        minutes: 5
  action:
    - service: notify.ios_martins_iphone
      data_template:
        title: "Miner Monitor: Miner01 - Low Power"
        message: >-
          PSU 1 - {{ states("sensor.tp_hs110_6_power") }} W, expected > 900W, 
          PSU 2 - {{ states("sensor.tp_hs110_8_power") }} W, expected > 750W

- id: a_miner01_lowpower_reboot
  alias: Miner01 Low Power Reboot
  trigger:
    - platform: numeric_state
      entity_id: sensor.tp_hs110_6_power
      below: 900
      for:
        minutes: 15
    - platform: numeric_state
      entity_id: sensor.tp_hs110_8_power
      below: 750
      for:
        minutes: 15
  action:
    - service: notify.ios_martins_iphone
      data:
        title: "Miner Monitor: Miner01"
        message:
          Rebooting Miner01. Low power usage for > 15 mins.
    - delay: 0:01
    - service: homeassistant.turn_off
      entity_id: switch.tp_hs110_6
    - service: homeassistant.turn_off
      entity_id: switch.tp_hs110_8
    - delay: 0:01
    - service: notify.ios_martins_iphone
      data:
        title: "Miner Monitor: Miner01"
        message: "Powering Back On!"
    - service: homeassistant.turn_on
      entity_id: switch.tp_hs110_8
    - service: homeassistant.turn_on
      entity_id: switch.tp_hs110_6

- id: a_miner02_power_watch
  alias: Miner02 Power Watcher
  trigger:
    - platform: numeric_state
      entity_id: sensor.tp_hs110_9_power
      below: 250
      for:
        minutes: 5
  action:
    - service: notify.ios_martins_iphone
      data_template:
        title: "Miner Monitor: Miner02 - Low Power"
        message: >-
          PSU 1 - {{ states("sensor.tp_hs110_9_power") }} W, expected > 250W

- id: a_miner02_lowpower_reboot
  alias: Miner02 Low Power Reboot
  trigger:
    - platform: numeric_state
      entity_id: sensor.tp_hs110_9_power
      below: 250
      for:
        minutes: 15
  action:
    - service: notify.ios_martins_iphone
      data:
        title: "Miner Monitor: Miner02"
        message:
          Rebooting Miner02. Low power usage for > 15 mins.
    - delay: 0:01
    - service: homeassistant.turn_off
      entity_id: switch.tp_hs110_9
    - delay: 0:01
    - service: notify.ios_martins_iphone
      data:
        title: "Miner Monitor: Miner02"
        message: "Powering Back On!"
    - service: homeassistant.turn_on
      entity_id: switch.tp_hs110_9