###################################################
#                                                 #
#     Home Assistant Main Configuration File      #
#                                                 #
###################################################
homeassistant:
  name: Home Assistant
  latitude: !secret latitude_loc_home
  longitude: !secret longitude_loc_home
  elevation: !secret evelation_loc_home
  time_zone: Europe/London
  temperature_unit: C
  unit_system: metric
  customize: !include includes/customize.yaml
  customize_glob: !include includes/customize_glob.yaml

###################################################
#                                                 #
#                     Panel                       #
#                                                 #
################################################### 
panel_iframe:
  windguru:
    title: 'Windguru'
    url: 'https://www.windguru.cz/470505'
    icon: mdi:weather-windy
  tasmoadmin:
    title: TasmoAdmin
    icon: mdi:lightbulb-on
    url: !secret TasmoAdminURL

####################################################
#                                                  #
#                     Enables                      #
#                                                  #
####################################################
http:
  api_password: !secret http_api_password # Used for IOS App
  ssl_certificate: !secret http_ssl_certificate
  ssl_key: !secret http_ssl_key
  base_url: !secret http_base_url
discovery:
  ignore:
    - samsung_tv
    - apple_tv
    - plex_mediaserver
updater:
  include_used_components: True
config:
ios:
map:

####################################################
#                                                  #
#                 Customisations                   #
#                                                  #
####################################################
frontend:
  javascript_version: auto
  themes: !include includes/themes.yaml

####################################################
#                                                  #
#                      Logger                      #
#                                                  #
####################################################
logger:
  default: warn
  logs:
    homeassistant.components.dyson: info
  #   homeassistant.components.mqtt: debug
  # #   homeassistant.components.light: info
  #   homeassistant.components.dyson: debug
  #   homeassistant.components.sensor.dyson: debug
  #   homeassistant.components.fan.dyson: debug

####################################################
#                                                  #
#                      Cloud                       #
#                                                  #
####################################################
#cloud:
  # Home Assistant Cloud allows use of the Alexa Skill

####################################################
#                                                  #
#                     Camera                       #
#                                                  #
####################################################
camera:
  - platform: generic
    still_image_url: 'https://www.thinkbroadband.com/broadband/monitoring/quality/share/ae25a213af51ed64c2cdf601d17a934194317d36.png'
    name: broadbandquality

####################################################
#                                                  #
#            Heating, Cooling & Security           #
#                                                  #
####################################################
nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret
dyson:
  username: !secret dyson_username
  password: !secret dyson_password
  language: GB
  devices: 
    - device_id: !secret dyson_fan1_serial
      device_ip: !secret dyson_fan1_ip_address
fan:
  - platform: dyson

####################################################
#                                                  #
#            RFXtrx433 & Z-Wave Devices            #
#                                                  #
####################################################
rfxtrx:
  device: /dev/ttyUSB0
  debug: False
  dummy: False
zwave:
  usb_path: /dev/ttyACM0

####################################################
#                                                  #
#                   Emulated Hue                   #
#                                                  #
####################################################
emulated_hue:
  listen_port: 80
  expose_by_default: true
  exposed_domains:
    - switch
    - light
    - scene

####################################################
#                                                  #
#                      MQTT                        #
#                                                  #
####################################################
mqtt:
  broker: core-mosquitto
  username: !secret MQTT_username
  password: !secret MQTT_password
  birth_message:
    topic: 'hass/status'
    payload: 'online'
    qos: 1
    retain: true
  will_message:
    topic: 'hass/status'
    payload: 'offline'
    qos: 1
    retain: true

####################################################
#                                                  #
#                Climate & Weather                 #
#                                                  #
####################################################
climate:
  platform: nest
weather:
  - platform: yweather
sun:

####################################################
#                                                  #
#                  Text to Speech                  #
#                                                  #
####################################################
tts:
  - platform: google
    cache: true
    cache_dir: /tmp/tts
    time_memory: 300
  - platform: voicerss
    api_key: !secret voicerss_api_key
    language: 'en-gb'
    format: '44khz_16bit_stereo'

####################################################
#                                                  #
#                      Timers                      #
#                                                  #
####################################################
timer:
  ironing_room_motion_timer: 
      name: "Ironing Room Motion Timer"
      icon: mdi:close-circle
      duration: '00:30:00'
  ironing_room_motion_timer_reset_poll:
      name: "Ironing Room Motion Timer Reset Poll"
      icon: mdi:close-circle
      duration: '00:05:00'

####################################################
#                                                  #
#                     Includes                     #
#                                                  #
####################################################
automation: !include includes/automations.yaml
group: !include includes/groups.yaml
history: !include includes/history.yaml
light: !include includes/lights.yaml
logbook: !include includes/logbook.yaml
recorder: !include includes/recorder.yaml
scene: !include includes/scenes.yaml
script: !include includes/scripts.yaml
sensor: !include includes/sensors.yaml
switch: !include includes/switches.yaml
zone: !include includes/zones.yaml

####################################################
